# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
*.jpeg
*.png
*.bmp
*.gif
*.csv
Model/LeNet
.vscode/settings.json
Model/LeNet
Model/Local_Models/LeNet_0
Model/Local_Models/LeNet_1
Model/Local_Models/LeNet_10
Model/Local_Models/LeNet_100
Model/Local_Models/LeNet_101
Model/Local_Models/LeNet_102
Model/Local_Models/LeNet_103
Model/Local_Models/LeNet_104
Model/Local_Models/LeNet_105
Model/Local_Models/LeNet_106
Model/Local_Models/LeNet_107
Model/Local_Models/LeNet_108
Model/Local_Models/LeNet_109
Model/Local_Models/LeNet_11
Model/Local_Models/LeNet_110
Model/Local_Models/LeNet_111
Model/Local_Models/LeNet_112
Model/Local_Models/LeNet_113
Model/Local_Models/LeNet_114
Model/Local_Models/LeNet_115
Model/Local_Models/LeNet_116
Model/Local_Models/LeNet_117
Model/Local_Models/LeNet_118
Model/Local_Models/LeNet_119
Model/Local_Models/LeNet_12
Model/Local_Models/LeNet_13
Model/Local_Models/LeNet_14
Model/Local_Models/LeNet_15
Model/Local_Models/LeNet_16
Model/Local_Models/LeNet_17
Model/Local_Models/LeNet_18
Model/Local_Models/LeNet_19
Model/Local_Models/LeNet_2
Model/Local_Models/LeNet_20
Model/Local_Models/LeNet_21
Model/Local_Models/LeNet_22
Model/Local_Models/LeNet_23
Model/Local_Models/LeNet_24
Model/Local_Models/LeNet_25
Model/Local_Models/LeNet_26
Model/Local_Models/LeNet_27
Model/Local_Models/LeNet_28
Model/Local_Models/LeNet_29
Model/Local_Models/LeNet_3
Model/Local_Models/LeNet_30
Model/Local_Models/LeNet_31
Model/Local_Models/LeNet_32
Model/Local_Models/LeNet_33
Model/Local_Models/LeNet_34
Model/Local_Models/LeNet_35
Model/Local_Models/LeNet_36
Model/Local_Models/LeNet_37
Model/Local_Models/LeNet_38
Model/Local_Models/LeNet_39
Model/Local_Models/LeNet_4
Model/Local_Models/LeNet_40
Model/Local_Models/LeNet_41
Model/Local_Models/LeNet_42
Model/Local_Models/LeNet_43
Model/Local_Models/LeNet_44
Model/Local_Models/LeNet_45
Model/Local_Models/LeNet_46
Model/Local_Models/LeNet_47
Model/Local_Models/LeNet_48
Model/Local_Models/LeNet_49
Model/Local_Models/LeNet_5
Model/Local_Models/LeNet_50
Model/Local_Models/LeNet_51
Model/Local_Models/LeNet_52
Model/Local_Models/LeNet_53
Model/Local_Models/LeNet_54
Model/Local_Models/LeNet_55
Model/Local_Models/LeNet_56
Model/Local_Models/LeNet_57
Model/Local_Models/LeNet_58
Model/Local_Models/LeNet_59
Model/Local_Models/LeNet_6
Model/Local_Models/LeNet_60
Model/Local_Models/LeNet_61
Model/Local_Models/LeNet_62
Model/Local_Models/LeNet_63
Model/Local_Models/LeNet_64
Model/Local_Models/LeNet_65
Model/Local_Models/LeNet_66
Model/Local_Models/LeNet_67
Model/Local_Models/LeNet_68
Model/Local_Models/LeNet_69
Model/Local_Models/LeNet_7
Model/Local_Models/LeNet_70
Model/Local_Models/LeNet_71
Model/Local_Models/LeNet_72
Model/Local_Models/LeNet_73
Model/Local_Models/LeNet_74
Model/Local_Models/LeNet_75
Model/Local_Models/LeNet_76
Model/Local_Models/LeNet_77
Model/Local_Models/LeNet_78
Model/Local_Models/LeNet_79
Model/Local_Models/LeNet_8
Model/Local_Models/LeNet_80
Model/Local_Models/LeNet_81
Model/Local_Models/LeNet_82
Model/Local_Models/LeNet_83
Model/Local_Models/LeNet_84
Model/Local_Models/LeNet_85
Model/Local_Models/LeNet_86
Model/Local_Models/LeNet_87
Model/Local_Models/LeNet_88
Model/Local_Models/LeNet_89
Model/Local_Models/LeNet_9
Model/Local_Models/LeNet_90
Model/Local_Models/LeNet_91
Model/Local_Models/LeNet_92
Model/Local_Models/LeNet_93
Model/Local_Models/LeNet_94
Model/Local_Models/LeNet_95
Model/Local_Models/LeNet_96
Model/Local_Models/LeNet_97
Model/Local_Models/LeNet_98
Model/Local_Models/LeNet_99
Model/LeNet
Model/Local_Models/LeNet_0
Model/Local_Models/LeNet_1
Model/Local_Models/LeNet_10
Model/Local_Models/LeNet_100
Model/Local_Models/LeNet_101
Model/Local_Models/LeNet_102
Model/Local_Models/LeNet_103
Model/Local_Models/LeNet_104
Model/Local_Models/LeNet_105
Model/Local_Models/LeNet_106
Model/Local_Models/LeNet_107
Model/Local_Models/LeNet_108
Model/Local_Models/LeNet_109
Model/Local_Models/LeNet_11
Model/Local_Models/LeNet_110
Model/Local_Models/LeNet_111
Model/Local_Models/LeNet_112
Model/Local_Models/LeNet_113
Model/Local_Models/LeNet_114
Model/Local_Models/LeNet_115
Model/Local_Models/LeNet_116
Model/Local_Models/LeNet_117
Model/Local_Models/LeNet_118
Model/Local_Models/LeNet_119
Model/Local_Models/LeNet_12
Model/Local_Models/LeNet_13
Model/Local_Models/LeNet_14
Model/Local_Models/LeNet_15
Model/Local_Models/LeNet_16
Model/Local_Models/LeNet_17
Model/Local_Models/LeNet_18
Model/Local_Models/LeNet_19
Model/Local_Models/LeNet_2
Model/Local_Models/LeNet_20
Model/Local_Models/LeNet_21
Model/Local_Models/LeNet_22
Model/Local_Models/LeNet_23
Model/Local_Models/LeNet_24
Model/Local_Models/LeNet_25
Model/Local_Models/LeNet_26
Model/Local_Models/LeNet_27
Model/Local_Models/LeNet_28
Model/Local_Models/LeNet_29
Model/Local_Models/LeNet_3
Model/Local_Models/LeNet_30
Model/Local_Models/LeNet_31
Model/Local_Models/LeNet_32
Model/Local_Models/LeNet_33
Model/Local_Models/LeNet_34
Model/Local_Models/LeNet_35
Model/Local_Models/LeNet_36
Model/Local_Models/LeNet_37
Model/Local_Models/LeNet_38
Model/Local_Models/LeNet_39
Model/Local_Models/LeNet_4
Model/Local_Models/LeNet_40
Model/Local_Models/LeNet_41
Model/Local_Models/LeNet_42
Model/Local_Models/LeNet_43
Model/Local_Models/LeNet_44
Model/Local_Models/LeNet_45
Model/Local_Models/LeNet_46
Model/Local_Models/LeNet_47
Model/Local_Models/LeNet_48
Model/Local_Models/LeNet_49
Model/Local_Models/LeNet_5
Model/Local_Models/LeNet_50
Model/Local_Models/LeNet_51
Model/Local_Models/LeNet_52
Model/Local_Models/LeNet_53
Model/Local_Models/LeNet_54
Model/Local_Models/LeNet_55
Model/Local_Models/LeNet_56
Model/Local_Models/LeNet_57
Model/Local_Models/LeNet_58
Model/Local_Models/LeNet_59
Model/Local_Models/LeNet_6
Model/Local_Models/LeNet_60
Model/Local_Models/LeNet_61
Model/Local_Models/LeNet_62
Model/Local_Models/LeNet_63
Model/Local_Models/LeNet_64
Model/Local_Models/LeNet_65
Model/Local_Models/LeNet_66
Model/Local_Models/LeNet_67
Model/Local_Models/LeNet_68
Model/Local_Models/LeNet_69
Model/Local_Models/LeNet_7
Model/Local_Models/LeNet_70
Model/Local_Models/LeNet_71
Model/Local_Models/LeNet_72
Model/Local_Models/LeNet_73
Model/Local_Models/LeNet_74
Model/Local_Models/LeNet_75
Model/Local_Models/LeNet_76
Model/Local_Models/LeNet_77
Model/Local_Models/LeNet_78
Model/Local_Models/LeNet_79
Model/Local_Models/LeNet_8
Model/Local_Models/LeNet_80
Model/Local_Models/LeNet_81
Model/Local_Models/LeNet_82
Model/Local_Models/LeNet_83
Model/Local_Models/LeNet_84
Model/Local_Models/LeNet_85
Model/Local_Models/LeNet_86
Model/Local_Models/LeNet_87
Model/Local_Models/LeNet_88
Model/Local_Models/LeNet_89
Model/Local_Models/LeNet_9
Model/Local_Models/LeNet_90
Model/Local_Models/LeNet_91
Model/Local_Models/LeNet_92
Model/Local_Models/LeNet_93
Model/Local_Models/LeNet_94
Model/Local_Models/LeNet_95
Model/Local_Models/LeNet_96
Model/Local_Models/LeNet_97
Model/Local_Models/LeNet_98
Model/Local_Models/LeNet_99
