autodp==0.2.1b0
hdbscan==0.8.28
matplotlib==3.4.3
mpmath==1.2.1
numpy==1.22.2
options==1.4.10
PyYAML==6.0
scikit_learn==1.0.2
scipy==1.7.1
syft==0.5.0
sympc==0.5.0rc1.post0.dev105+g634396a
sympy==1.9
torch==1.8.1
torch_summary==1.4.5
torchsummary==1.5.1
torchvision==0.9.1
