numpy==1.21.4
torch_summary==1.4.5
torch==1.10.2+cu113
matplotlib==3.4.3
scipy==1.7.3
autodp==0.2
sympy==1.9
hdbscan==0.8.27
mpmath==1.2.1
torchvision==0.11.3+cu113
options==1.4.10
PyYAML==6.0
scikit_learn==1.0.2
torchsummary==1.5.1
